@charset "UTF-8";

/* 모든 요소의 기본 여백 제거 및 화면 꽉 채우기 */
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* figure와 img를 화면 크기에 맞게 설정 */
figure,
figure img {
  /* 뷰포트(브라우저 화면)의 너비와 높이 100%로 설정 */
  width: 100vw;
  z-index: -100;
}

/* 기본 커서 숨기기 */
* {
  cursor: none !important;
}

/* custom-cursor */
.custom-cursor {
  background: var(--main-color);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  position: fixed;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.15s ease, width 0.15s ease, height 0.15s ease;
  transform: translate(-50%, -50%);

}

.custom-cursor.hover {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(234, 111, 56, 0.2);
  border: 5px solid #ea6f38;
}
