@charset "UTF-8";

/* 위로가기 버튼 스타일 */
.persimmon-loader {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.persimmon-loader.show {
  opacity: 1;
  visibility: visible;
}

.craft-page h3 {
  margin-top: 350px;
  text-align: center;
  position: relative;
}

.craft-page h3::after {
  content: "";
  position: absolute;
  background: url(../img/persimmon+i+w.png) 50% 50% no-repeat;
  background-size: contain;
  width: 250px;
  aspect-ratio: 778/861;

  left: 55%;
  top: -240%;
  transform: translateX(-50%);
  animation: sway-left-right 2.5s ease-in-out infinite;
}

.craft-page h3::before {
  content: "";
  position: absolute;
  background: url(../img/persimmon+tree+b.png) 50% 50% no-repeat;
  background-size: contain;
  width: 250px;
  aspect-ratio: 778/861;

  left: 37%;
  top: -300%;
  animation: grow-shrink 2.5s ease-in-out infinite;
}

.craft-page {
  padding: 180px 0;
}

.craft-page .group:first-child {
  width: 1680px;
  margin-top: 200px;
  display: flex;
  align-items: center;

  /* 스크롤 애니메이션을 위한 초기 설정 */
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease-out;
}

.craft-page .group {
  margin-top: 0px;
  width: 1680px;

  display: flex;
  align-items: center;

  padding: 80px 0;

  /* 스크롤 애니메이션을 위한 초기 설정 */
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.5s ease-out;
}

/* 스크롤 시 보여지는 애니메이션 */
.craft-page .group.show {
  opacity: 1;
  transform: translateY(0);
}

/* 스크롤에서 벗어났을 때 다시 숨김 */
.craft-page .group.hide {
  opacity: 0;
  transform: translateY(80px);
}

.craft-page .g1,
.g3,
.g5 {
  justify-content: left;

  gap: 50px;
}

.craft-page .g2,
.g4,
.g6 {
  justify-content: right;

  gap: 50px;
}

.craft-page figure {
  width: 480px;
  height: 580px;
  overflow: hidden;
  border-radius: 50px;
}

.craft-page figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.craft-page dl dt {
  font-size: 30px;
  font-weight: 700;
}

.craft-page dl dd {
  margin-top: 80px;
}
